<h1>Welcome to the Admin Dashboard</h1>

<%= link_to "Admin Merchant's Index", "/admin/merchants" %>
<%= link_to "Admin Invoice's Index", "/admin/invoices" %>


<div id="statistics">
  <h3>Top Customers</h3>
  <% Customer.top_five_customers.each do |customer| %>
    <%= customer.first_name %>
    <%= customer.last_name %>
    <%= customer.successful_transactions_count %> <br>
  <% end %>
</div>

<div id="invoices">
  <h3>Incomplete Invoices</h3>
  <% Invoice.incomplete_invoices.each do |invoice| %>
    <%= link_to "Invoice ID: #{invoice.id}", "/admin/invoices/#{invoice.id}" %> <br>
  <% end %>
</div>