<h1>Invoice #<%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created On: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Total Revenue: <%= @invoice.total_revenue%></p>
<p>Customer: <%= "#{@customer.first_name} #{@customer.last_name}"%></p>
<section id="item_info">
  <% @my_items.each do |item| %>
  <p>Item Name: <%= item.name %></p>
  <p>Unit Price: <%= item.unit_price %></p>
  <p>Quantity: <%= @invoice.count_items(item.id) %></p>
  <p>Status: <%= item.status %></p>
  <% end %>
</section>