<h1>Invoice #<%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created On: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Total Revenue: <%= @invoice.merchant_revenue(@merchant.id)%></p>
<p>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}"%></p>
<section id="item_info">
  <% @invoice.merchant_items(@merchant.id).each do |item| %>
  <p>Item Name: <%= item.name %></p>
  <p>Unit Price: <%= item.unit_price %></p>
  <p>Quantity: <%= @invoice.count_items(item.id) %></p>
  <p>Status: <%= item.status %>
  <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true do |f| %>
  <%= f.label :status %>
  <%= f.select :status, ["disable", "enable"], selected: item.status %>
  <%= f.submit "Update Item Status" %>
  <% end %>
  </p>
  <% end %>
</section>