<h1><%= @merchant.name %></h1>

  <section id="merchants-items">
    <% @items.each do |item| %>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p><%= "Item's Status: #{item.status}" %></p>
        <% if item.status == nil || item.status == "enabled" %>
            <p><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, data: { turbo: false }, params: { status: "disable" } %></p>
        <% else item.status == "disabled" %>
            <p><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, data: { turbo: false }, params: { status: "enable" } %></p>
        <% end %>
    <% end %>
  </section>
  <br>