<%= render partial: "layouts/header_merchant" %>

<div id = "right"{ float:right; width: 50%;}>
  <div id="top_5" align=right>
    <h3>Top 5 Customers:</h3>
    <% @merchant.top_5_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name}" %> Transactions: <%= customer.count %><br>
    <% end %>
  </div>
</div>
<div id="left"{ float:left; width: 50%;}>
  <div id="ready_to_ship">
    <h3>Items Ready to Ship</h3>
    <% @merchant.shippable_items.each do |item| %>
    <%= "#{item.name} - Invoice #" %>
    <%= link_to("#{item.invoice_id},", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}") %>
    <%= "#{item.order_date.strftime("%A, %B %d, %Y")}"  %><br>
    <% end %>
  </div>
</div>
